<div class="card rounded-4">
	<div
		class="card-body rounded-4 position-relative transparent" [ngStyle]="bigCardStyle">
		<div class="d-flex justify-content-between bottom transparent mtr-32">
			<button class="btn btn-light border-black col-md-5 d-flex justify-content-between align-items-center"
					  (click)="eventButton.emit()">
				<p> {{buttonText}} </p>
				<span class="bg-black  rounded-5 text-white" *ngIf="buttonVisible">
					<fa-icon [classes]="['fa-w-24']" [styles]="faStyle" [icon]="iconButton"></fa-icon>
				</span>
			</button>
		</div>
	</div>
</div>
