.nav-link {
	color: #000;
	font-size: 1.2rem;
	font-weight: 300;
	font-style: italic;
	margin: 0 1rem;
	padding: 0.5rem 0;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

.nav-link:hover {
	color: #FCF6EF;
	font-weight: 500;
	font-style: normal;
}
